<!-- <mat-card>
  <mat-card-title>
    <mat-toolbar>

      <button mat-icon-button class="aab-icon" aria-label="">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Shop Now</span>
      <span class="aab-spacer"></span>
      <button mat-icon-button class="aab-icon favorite-icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="aab-icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </mat-card-title>
  <mat-card-content>
    <app-productos></app-productos>
  </mat-card-content>
</mat-card> -->

<mat-card>
  <mat-card-title>
    <mat-toolbar>
      <button mat-icon-button >
       <mat-icon>menu</mat-icon>
     </button>
     <span>Shop Now</span>
     <span class="aab-spacer"></span>
     <button mat-icon-button class="favorite-icon" >
       <mat-icon>favorite</mat-icon>
     </button>
     <button mat-icon-button  >
      <mat-icon>share</mat-icon>
    </button>
   </mat-toolbar>
  </mat-card-title>
  <mat-card-content>

<app-productos></app-productos>
    
  </mat-card-content>

</mat-card>

